<div class="container">
  <div class="page-header"><h1>Información general</h1></div>

<h1>CÓMO INVERTIR EN IN+IN</h1>

<p><strong>IN+IN</strong> presenta una forma innovadora de invertir en bienes raíces, con la <strong>nueva modalidad de inversión en inmuebles y proyectos inmobiliarios, poniéndolos al alcance de todas las personas</strong>, dando la oportunidad de hacer crecer su dinero, poniéndolo a trabajar, al participar a través de la inversión en metros cuadrados. En <strong>IN+IN</strong> buscamos gente que quiera lograr el éxito a través de la inversión inmobiliaria.</p>

<p>Toda persona interesada en invertir en <strong>IN+IN</strong>lo invitamos a que realice los siguientes pasos y empiece a formar parte de nuestra <strong>Comunidad de Inversores</strong>.

<h3>Como participo? Paso para invertir en IN+IN</h3>


<h2>IN+IN</h2>
<p>Nos encantaría poder conocerte y responder todas tus dudas. Sé parte de nuestra <strong>Comunidad de Inversores</strong>


<h3>Paso 1: Analiza Los Proyectos Inmobiliarios Publicados en nuestra plataforma inmasin.com</h3>

<p>Revisa todos y cada uno de los inmuebles o los proyectos inmobiliarios en los que puedes invertir. Selecciona los inmuebles o los proyectos que te resulten más atractivos y que más se adapten a tus posibilidades, teniendo en cuenta el tipo de propiedad y la ubicación, el valor total de la inversión, el monto de cada metro cuadrado y el resto de los términos y condiciones de suscripción. <strong>Para mayor información ponte en contacto con nuestros asesores inmobiliarios de IN+IN que te resolverán cualquier inquietud que tengas al respecto, no dudes en consultarnos</strong>. También podrás leer las preguntas frecuentes de nuestros inversores.</p>


<h3>CONOCE NUESTROS INMUEBLES Y PROYECTOS INMOBILIARIOS DONDE PUEDES INVERTIR</h3>


<h2>PROYECTOS</h2>

<h3>Paso 2: Adquiere los metros cuadrados de los inmuebles o proyectos inmobiliarios.</h3>

<p>Una vez seleccionado el inmueble o proyecto inmobiliario, <strong>completa todos los datos requeridos, informando el proyecto, los metros cuadrados en los que deseas participar y tus datos personales</strong>; visítanos en nuestras oficinas citas en <strong>Avenida Moctezuma Numero 729, Zona Centro de la Ciudad de Ensenada, Baja California</strong>, y un agente de <strong>IN+IN</strong> resolverá todas tus dudas y te proporcionara toda la información que necesites.</p>



<p><strong>Reunido el 100% de inversión</strong>. El inmueble se pone a pone a venta y en caso de proyecto inmobiliario se empiezan los trabajos de construcción hasta su terminación y posterior venta.<p>



<p><strong>En caso, de que por causa mayor o por alguna situación ajena a IN+IN no se reúne el 100% de inversión, tu dinero te será devuelto</strong>, sin cargos ocultos.</p>



<h3>Paso 3: Informate Del Avance De Tu Inversión</h3>

<p>Ingresa a nuestra pagina www.inmasin.com y crea una cuenta personal, ahí se te estará enviando periódicamente la información general, situación actual y disponibilidad de los inmuebles o proyectos inmobiliarios en los que participaste.</p>

<p>En el caso de los proyectos inmobiliarios, te informaremos periódicamente del avance del proyecto, las novedades y acontecimientos suscitados.</p>



<h3>Paso 4: Gana invirtiendo en IN+IN</h3>

<p>Una vez terminado el plazo de la inversión y/o realizados los proyectos inmobiliarios se venderán los inmuebles, procediendo a ponernos en contacto con nuestro grupo de inversionistas privados para hacer entrega de las cantidades de dinero que de acuerdo a los metros cuadrados adquiridos le correspondan a cada uno.</hp>





</div>
