<div class="page-header"><h1>CÓMO FUNCIONA IN+IN</h1></div>

<p><strong>IN+IN</strong> presenta una forma innovadora de invertir en bienes raíces, con la <strong>nueva modalidad de inversión en inmuebles y proyectos inmobiliarios, poniéndolos al alcance de todas las personas, </strong> dando la oportunidad de hacer crecer su dinero, poniéndolo a trabajar, al participar a través de la inversión en metros cuadrados. En <strong>IN+IN</strong> buscamos gente que quiera lograr el éxito a través de la inversión inmobiliaria.</p>

<h2>EL PROCESO DE UNA INVERSIÓN EN IN+IN</h2>

<p>Quieres formar parte de nuestro grupo de inversores, te decimos cual es el proceso de toda inversión en <strong>IN+IN</strong>, para lo que se  cuenta con los siguientes pasos:</p>

<h3>Análisis</h3>

<p>Personal Capacitado, Especialistas en la rama del Derecho Inmobiliario, Asesores Inmobiliarios, Ingenieros, Arquitectos, entre otros, forman parte de <strong>IN+IN</strong>, quienes se encargan de revisar cada uno de los inmuebles y proyectos de emprendimiento inmobiliario en construcción o a construirse. <strong>IN+IN</strong> lo analiza, lo selecciona y lo aprueba.</p>

<h3>Estructuración</h3>

<p><strong>IN+IN</strong> una vez que ha seleccionado el inmueble o proyecto inmobiliario, lo sube a la plataforma lo presenta a su grupo de inversionistas privados, se formalizan los contratos cumpliendo con todos los requisitos legales y se realiza el contrato que asegura la inversión.</p>




<h3>Inversión</h3>

<hp><strong>IN+IN</strong> sube a la plataforma inmuebles y proyectos inmobiliarios y ofrece a los Inversores privados la posibilidad de adquirir una participación en los mismos, en fracciones equivalentes a metros cuadrados de acuerdo a la superficie total del inmueble, los Inversores suscriben la documentación y listo así de fácil, puedes formar parte de nuestro grupo de inversionistas privados.</p>

<h3>Venta</h3>

<p><strong>IN+IN</strong> una vez terminados los metros cuadrados del inmueble o proyecto inmobiliario en el que se haya invertido, se inicia el proceso de venta del inmueble y para el caso de los proyectos inmobiliarios se inicia el proceso de construcción, realizada la venta se le entrega a los inversionistas privados, las cantidades de dinero que en proporción y de acuerdo a la participación que en metros cuadrados tenga cada uno en los inmuebles o proyectos inmobiliarios.</p>

<h2>¿QUIÉNES PARTICIPAN EN UNA INVERSIÓN EN IN+IN?</h2>

<p>En <strong>IN+IN</strong> se participa de la siguiente manera:</p>

<h3>Personal Capacitado que forma parte de IN+IN</h3>

<p>Encargados de buscar oportunidades, quienes presentan inmuebles o proyectos inmobiliarios a construir o ya en construcción, para que <strong>IN+IN</strong>, los analice, los apruebe y los suba a la plataforma inmasin.com</p>

<h3>IN+IN</h3>


<p>Nos ocupamos de analizar y aprobar toda oportunidad de inversión, sean inmuebles o proyectos inmobiliarios, y de subirlos a la plataforma inmasin.com</p>




<h3>Inversores Privados</h3>

<p>Toda persona, interesada en poner a trabajar su dinero de manera segura, quienes determinan los inmuebles o los proyectos inmobiliarios en los que desean invertir, adquiriendo los metros cuadrados deseados, formando parte de nuestro grupo de inversionistas privados.</p>
