<div class="container text-justify">
  <div class="page-header"><h1>PREGUNTAS FRECUENTES DE IN+IN</h1></div>



<p>En Preguntas Frecuentes repasamos las consultas más habituales efectuadas por los interesados en <strong>IN+IN</strong>. Desde <strong>IN+IN</strong> recomendamos su lectura por todos los interesados antes de concretar su inversión. ¿Si Tienes otra pregunta que hacernos? Contáctanos.</p>

<h2>¿Cómo funciona IN+IN?</h2>
<p>Dando la oportunidad a toda persona que quiera hacer crecer su dinero, poniéndolo a trabajar, al participar a través de la inversión en inmuebles y proyectos inmobiliarios por metro cuadrado</p>
<h2>¿Qué tipo de inversiones ofrece IN+IN?</h2>
<p>Inversión en inmuebles ofertado a través de la plataforma
Inversión en proyectos inmobiliarios ofertados a través de la plataforma</p>
<h2>¿Cuándo invierto en IN+IN, que obtengo?</h2>
<p>Rendimientos de acuerdo al valor comercial de los metros cuadrados en que se hayan vendido los inmuebles en los que invirtió</p>
<h2>¿Puedo saber y decidir en qué proyecto invertir o estoy invirtiendo en muchos proyectos a la vez?</h2>
</p>Cada inversionista decide en que inmueble o proyecto inmobiliario realiza su inversión</p>
<h2>¿Hay un mínimo de inversión?</h2>
<p>Un metro cuadrado</p>
<h2>¿Qué análisis efectúa IN+IN de los proyectos antes de ofrecerlos a los inversores?</h2>
<p>Documentación legal</p>
<p>Valor Comercial</p>
<p>Viabilidad de Inversión</p>
<p>Ubicación</p>
<h2>¿Puede invertir una empresa o son inversiones solamente para personas físicas?</h2>
<p>Persona Físicas y empresas</p>
<h2>¿Qué ocurre cuando se obtiene el 100% del monto de un inmueble o proyecto inmobiliario en IN+IN?</h2>
<p>En caso de inmueble se procede a la venta del inmueble al publico general</p>
<p>En caso de proyecto inmobiliario se inicia el proceso de construcción de la obra</p>
<h2>¿Cómo seré informado sobre el estado de mi inversión?</h2>
<p>Mediante la creación de una cuenta de usuario a través de la plataforma inmasin.com</p>
<h2>¿Cuándo recibiré el pago por el retorno de mi inversión?</h2>
<p>Al momento de que el inmueble en el que se realizo la inversión sea vendido al publico en general</p>
<p>En el caso de proyecto inmobiliario una vez concluida la obra se vende y se reparte la utilidad</p>
<h2>¿Qué es Inversión en Inmuebles IN+IN SAPI DE CV?</h2>
<p>Empresa dedicada a Crowdfunding</p>


</div>
