<div class="page-header"><h1>Aviso legal</h1></div>

<p>INVERSION EN INMUEBLES IN+IN SAPI DE CV, es una sociedad
   anónima de procuración de inversión constituida y existente
    bajo las leyes de la República Mexicana., INVERSION EN INMUEBLES IN+IN SAPI DE CV,
     desarrolla la actividad del Sitio Web www.inmasin.com INVERSION EN INMUEBLES
      IN+IN SAPI DE CV está conformada por socios de la República Mexicana.
       Ningún accionista de INVERSION EN INMUEBLES IN+IN SAPI DE CV, sea nacional
        o extranjero, responde por las operaciones de INVERSION EN INMUEBLES IN+IN
         SAPI DE CV, en exceso de la integración de las acciones de INVERSION EN
          INMUEBLES IN+IN SAPI DE CV, suscritas.</p>
